<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>antistar Web Application</display-name>
<servlet>
   <servlet-name>Antistar</servlet-name>
   <servlet-class>net.antistar.RestfulListenerServlet</servlet-class>
   <init-param>
       <param-name>api-xml</param-name>
       <param-value>trade-api.xml</param-value>
   </init-param>
</servlet>

<servlet-mapping>
   <servlet-name>Antistar</servlet-name>
   <url-pattern>/*</url-pattern>
</servlet-mapping>
</web-app>
